{% extends "base.html.twig" %}

{% block body %}
    <h1>Movies</h1>
    <ul>
        {% for movie in movies %}
            <li>{{ movie.title }}</li>  {# Adjust the property name to match your Movie entity #}
        {% else %}
            <li>No movies found.</li>
        {% endfor %}
    </ul>

    <h1>Wooohoo.</h1>
{% endblock %}
