{% extends "base.html.twig" %}

{% block body %}
    <h1 class="bg-blue-500 text-2xl text-center font-bold">Wooohoo.</h1>
    <h1>Movies</h1>
    <ul>
        {% for movie in movies %}
            <li>{{ movie.title }}</li>  {# Adjust the property name to match your Movie entity #}
        {% else %}
            <li>No movies found.</li>
        {% endfor %}
    </ul>
{% endblock %}
